{% extends "layout.html" %}

{% block content %}
<div class='container' id='about'>
		<div class ='col-lg-7
			col-md-7
			col-sm-7
			col-xs-7'>
			<h1>about</h1>
			<p>vespertine-rhythms local is a path drawing application currently supported in the nyc area</p>
			<hr />
			<p>to start :</p>
			<ol>
				<li><p>select from the dropdown menus on the bottom right</p></li>
				<li><p>click + to add the point of interest to a day's plan</p></li>
				<li><p>choose between different day plans to create new maps</p></li>
			</ol>
			<p>location data supported by foursquare</p>
			<p><img id='foursquare-logo' src='icons/foursquare.png'/></p>
		</div>
</div>

{% endblock %}
