{% extends "layout.html" %}

{% block content %}
<div class='container' id='contact'>
		<div class ='col-lg-7
			col-md-7
			col-sm-7
			col-xs-7'>
			<h1>contact</h1>
      <p>hey, thanks for visiting this site</p>
      <p>vespertine-rhythms local was built by freda suyi nada/ding</p>
      <p>using jquery</p>
      <p><img id='jquery-logo' src='/icons/jquery.png' /></p>
      <p>if you want to see more click on the links below</p>
      <div className='links' id='contact-links'>
        <a href='https://pseuyi.xyz'>pseuyi.xyz</a>
        <a href='https://github.com/pseuyi'>github</a>
      </div>
		</div>
</div>

{% endblock %}
