{% extends "layout.html" %}

{% block content %}
<div class='container' id='menu-group'>
	<div class ='row'>
		<div id='menu-select' class ='col-lg-4
			col-md-4
			col-sm-4
			col-xs-4'>

			<h1>welcome!</h1>
			<div>
				<label for='hotels'>hotels</label>
			  <select>
			    {% for hotel in hotels %}
			    <option>{{ hotel.name }}</option>
			    {% endfor %}
			  </select>
				<label for='restaurants'>restaurants</label>
			  <select>
			    {% for restaurant in restaurants %}
			    <option>{{ restaurant.name }}</option>
			    {% endfor %}
			  </select>
				<label for='activities'>activities</label>
			  <select>
			    {% for activity in activities %}
			    <option>{{ activity.name }}</option>
			    {% endfor %}
			  </select>
			</div>
		</div>
		<div id='plans' class ='col-lg-4
			col-md-4
			col-sm-4
			col-xs-4'>
			<h1>my hotels</h1>
			<h1>my restaurants</h1>
			<h1>my activities</h1>
		</div>

	</div>
</div>

{% endblock %}
