{% extends "layout.html" %}

{% block content %}
<div class='container map' >
	<div class ='col-lg-8
		col-md-8
		col-sm-6
		col-xs-6' id='map-canvas'>
	</div>
</div>

<div class='container' id='menu-group'>
	<div class ='row'>
		<div id='menu-select' class ='col-lg-2
			col-md-2
			col-sm-2
			col-xs-2'>

			<h1>add these local spots</h1>
			<div id='options-panel'>

				<label for='vapes'>vape shops</label>
			  <select data-type='vapes' id='vape-opts'>
			    <option>choose vape</option>
			  </select>
				<button id='add-vape' type="button" class="btn-default">+</button>

				<label for='bars'>bars</label>
				<select data-type='bars' id='bar-opts'>
					<option>choose bar</option>
				</select>
				<button id='add-bar' type="button" class="btn-default">+</button>

				<label for='spirits'>spiritual centers</label>
				<select data-type='spirits' id='spirit-opts'>
					<option>choose spiritual center</option>
				</select>
				<button id='add-spirit' type="button" class="btn-default">+</button>

			</div>
		</div>

		<div id='plans' class ='col-lg-3
			col-md-3
			col-sm-3
			col-xs-3'>

			<ul class="nav nav-pills">
				<li class="active">
	        <a href="#1" data-id='1' data-toggle="tab">1</a>
				</li>
				<li id='add-day'>
					<a data-toggle="" data-id='add-link'>+</a>
				</li>
			</ul>

			<div class="tab-content clearfix">
				<div class="tab-pane active" id="1">
					<h1>plans</h1>
					<ul class='list my-vape'></ul>
					<ul class='list my-bar'></ul>
					<ul class='list my-spirit'></ul>
				</div>
			</div>

		</div>

	</div>
</div>

{% endblock %}
