<!DOCTYPE html>
<html>
  <head>
    <title>vespertine rhythms</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2uIHhIgzgBL3O4wOK0m0_F0mp2cxdAPw&sensor=true"></script>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">

        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-links" aria-expanded="false">
             <span class="sr-only">toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">vespertine rhythms local</a>
        </div>

        <div class="collapse navbar-collapse" id="main-links">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">home<span class="sr-only">(current)</span></a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">contact</a></li>
          </ul>
        </div>
      </div>
    </nav>



      {% block content %}
      {% endblock %}
  <script src='/js/day.js' async defer></script>
  <script src='/js/options.js' async defer></script>
  <script src='/js/remove.js' async defer></script>
  <script src='/js/map.js' async></script>
  <script>
    const vapes = {{ vapes | dump | safe }};
    const bars = {{ bars | dump | safe }};
    const spirits = {{ spirits | dump | safe }};
  </script>
  </body>
</html>
