.navbar.navbar-default.navbar-static-top, .navbar-brand {
  background-color: #afaf4b;
  border-color: #afaf4b;
  color: black !important;
  margin-bottom: 0; }

.navbar-default .navbar-nav > .active > a {
  background-color: #c0c06d !important; }

.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #afaf4b;
  color: white !important; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white !important; }

.container.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

#map-canvas {
  width: 100%;
  height: calc(100% - 51px);
  position: absolute; }

#menu-group {
  position: fixed;
  float: left;
  bottom: 0;
  left: 0;
  width: 90%;
  padding: 2em; }
  #menu-group h1 {
    font-size: 1em;
    margin: 0.4em 0; }

#menu-select {
  margin-right: 2%;
  padding: 1em;
  background-color: rgba(224, 224, 223, 0.9); }
  #menu-select div label, #menu-select div select, #menu-select div button {
    font-size: 0.8em;
    font-weight: normal;
    width: 100%; }

#plans {
  padding: 0;
  background-color: none;
  font-size: 0.9em; }
  #plans h1 {
    padding: 0.2em 1em; }
  #plans .nav-pills > li.active > a::before {
    content: "day - "; }
  #plans .nav-pills > li.active > a,
  #plans .nav-pills > li.active > a:focus,
  #plans .nav-pills > li.active > a:hover,
  #plans .nav-pills > li > a:hover {
    color: black;
    background-color: rgba(224, 224, 223, 0.9); }
  #plans .nav-pills > li > a,
  #plans .nav-pills > li > a:focus {
    padding: 0.2em 1em;
    color: rgba(224, 224, 223, 0.9);
    background-color: black;
    border-radius: 4px 4px 0 0; }
  #plans .tab-content {
    color: black;
    background-color: rgba(224, 224, 223, 0.9); }
  #plans .list {
    padding-left: 1em; }
  #plans .list > li {
    list-style: none; }

.btn-circle {
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 2px 0;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 0px; }

.map-icon-label .map-icon {
  display: block;
  font-size: 17px;
  color: #FFFFFF;
  width: 33.6px;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap; }
