$primary: #afaf4b;
$lite-gr: rgba(224, 224, 223, 0.9);

.navbar.navbar-default.navbar-static-top, .navbar-brand {
  background-color: $primary;
  border-color: $primary;
  color: black !important;
  margin-bottom: 0;

}
.navbar-default .navbar-nav>.active>a {
  background-color: lighten($primary, 10%) !important;

}
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: $primary;
  color: white !important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white !important;
}

.container.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#map-canvas {
  width: 100%;
  height: calc(100% - 51px);
  position: absolute;
}
#menu-group {
  position: fixed;
  float: left;
  bottom: 0;
  left: 0;
  width: 90%;
  padding: 1em 0em 1em 2em;
  h1 {
    font-size: 1em;
    margin: 0.4em 0;
  }
}
#menu-select {
  margin-right: 2%;
  padding: 1em;
  background-color: $lite-gr;
  box-shadow: 10px 23px 38px -13px rgba(0,0,0,0.75);
  div {
    // border: 1px solid $primary;
    label, select, button {
      font-size: 0.8em;
      font-weight: normal;
      width: 100%;
    }
  }
}
#plans {
  padding: 0;
  background-color: none;
  font-size: 0.9em;
  box-shadow: 10px 23px 38px -13px rgba(0,0,0,0.75);
  h1 {
    padding: 0.2em 1em;
  }
  .nav-pills > li.active > a::before {
      content: "day - ";
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover,
  .nav-pills > li > a:hover {
    color: black;
    background-color: $lite-gr;
  }
  .nav-pills > li > a,
  .nav-pills > li > a:focus {
    padding: 0.2em 1em;
    color: $lite-gr;
    background-color: black;
    border-radius: 4px 4px 0 0;
  }
  .tab-content {
    color : black;
    background-color: $lite-gr;
    //padding : 5px 15px;
  }
  ul.list {
    padding-left: 1em;
    margin-bottom: 0 !important;
  }
  .list > li {
    list-style: none;
  }
}
button.btn.btn-default.remove-btn {
  // float: right;
  margin-right: 0.2em;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.7em;
  border-radius: 12px;
  padding: 2px 4px;
  background: none;
  margin-bottom: 4px;
}
.map-icon-label .map-icon {
	display: block;
	font-size: 17px;
	color: #FFFFFF;
	width: 33.6px;
	line-height: 33.6px;
	text-align: center;
	white-space: nowrap;
}
